.Contador{
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #6b6b6b;
  padding: 10px 20px 10px 20px;
  border: solid #000000 0.5px;
  text-decoration: none;
  margin: 10px;
}

.Contador:hover {
  background: #0f010d;
  text-decoration: none;
}